@{
    ViewData["Title"] = "Không có quyền truy cập";
}

<div class="text-center mt-5">
    <div class="display-1 text-danger">403</div>
    <h2 class="my-4">Không có quyền truy cập</h2>
    <p class="lead">Bạn không có quyền truy cập vào trang này.</p>
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary mt-3">Quay lại trang đăng nhập</a>
</div>
